---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<div id="process-anchor"></div>
<section
	id="steps-2"
	class="text-gray-800 px-10 py-10 sm:px-6 mx-auto lg:px-8 lg:pt-20 max-w-6xl bg-gray-100 mb-0 rounded-xl mt-20"
>
	<div class="grid gap-6 row-gap-10 md:grid-cols-1">
		<div class="md:pb-6 md:pr-16">
			<h2 class="mb-8 text-3xl lg:text-4xl font-bold font-heading">Crypto Security Tools</h2>
			<div class="flex">
				<div class="pt-1 pb-8">
					<p class="mb-2 text-xl font-bold">Who We Are & Our Mission</p>
					<p class="pt-5">
						We are a small group of crypto enthusiasts who have been in the space for several years. I'm Nic Neon -
						developer and the founder of Crypto Security Tools. I have seen many people lose their crypto due to hacks,
						theft, and lost seed words. I've also seen people lose their crypto due to failed hardware such as phones
						and laptops. <br /><br />
						My enthusiasm for the great wealth transfer into this growing digital asset class has led me to focus on a wholistic
						approach to security practices that are easy to implement and maintain.
						<br /><br />
						Yes, even I lost access to a wallet in the first month I was involved in the space (due to laziness and not having
						backup rules in place), going back to early 2017. This taught me a vauable lesson, although I am happy to say
						I only had a small amount of crypto in that wallet that would be worthless today, unlike Bitcoin!) After the
						bull run later that same year I recognized a need for a better more reliable system to manage and store keys
						and seeds.<br /><br />
						<span class="">OUR MISSION:</span><br /> 1. &nbsp;Help as many people as possible upgrade their wallet backup
						security<br />2. Provide mechanisms to pass on crypto to loved ones in the event of death<br />
						3. Promote responsible cryptocurrency self-custody<br /><br />
					</p><span class="bold">Not your keys, not your crypto.<br />Harden Up! 😁</span><br /><br />
					"If you're going to be your own bank, you need added security with minimal complexity. Institutions all use hardened
					cold storage solutions for their clients. <span class="italic">We should be doing the same." - Nic Neon</span
					><br /><br />
					<a href="https://x.com/@graycode007" class="text-blue-500 hover:underline text-xl" target="_blank"
						>Follow me on X</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
