---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'How do I know if I can create a hardened backup of my wallet?',
			answer: `

Almost every single wallet out there, whether its on a phone or a desktop, software or hardware - can be backed up using this system. Any wallet that uses the BIP39 standard is going to work for you. This includes wallets like Ledger, Trezor, Ellipal, NGRAVE, SecuX, Tangem, Safepal, Keepkey, Bitbox, D'Cent and many, many others. All the software wallets are supported. Any wallet that gives you a list of words to back up your wallet is compliant. If you aren't sure, do a search for your wallet name + "BIP39" to see if it uses this standard.`,
		},
		{
			question: 'Which wallets are not supported?',
			answer: `SLIP39 (otherwise known as Shamir backup) is not supported. Trezor offers this on their Model T. It is not compatible with this backup system. Also if you're looking to back up a paper wallet, you can't use this system. However we will be releasing a hardened cold storage paper wallet backup system in the very near future.`,
		},
		{
			question: 'How do I know I can trust you?',
			answer: `That&apos;s the best part! In the true spirit of the original Bitcoin protocol, NO TRUST IS REQUIRED. The process does not endanger your security, it does the opposite. At no time do you enter your seed words into your computer or share them with anyone. The steps are clearly explained and you are the one carrying them out, on your own computer - offline. In fact, we deliberately designed this system to be trust-less.`,
		},
		{
			question: 'Is this totally an offline cold storage backup solution?',
			answer: `Yes, if you choose to follow the directions as given, you can create a backup of your wallet that never touches the internet. The system is designed to be used offline. There is however an optional method which allows you to store your seedcodes across multiple encrypted cloud storage locations. This is helpful if you want to be able to update the backup in the future without having to retrieve all the USB drives first. It is just as secure as the offline method, and more convenient. It's up to you which method you choose.`,
		},
		{
			question: 'Is this actually free?',
			answer: `Yes, the system outlined here and (more fully ) in the PDF is free of charge. Our mission is to help as many people in the crypto community as possible to secure their assets.`,
		},
		{
			question: 'Are you selling something?',
			answer: `We will have a fully offline version of this system that will be available for purchase at a later time. It runs simply in the browser, and does not require any internet connection. It dramatically speeds up the backup and restore process, and is designed for those who have a large number of wallets to backup, or who just want a turnkey tool to do the job. It will come inbuilt with all the security features of the free version, and more. We will also be releasing a hardened cold storage paper wallet backup system in the very near future.`,
		},
		{
			question: 'Why did you create this system & do I really need it?',
			answer: `Many people don't
						obfuscate their seed words, or encrypt them. They simply hide them and hope nobody finds them. This is a huge security risk. As you know, should someone get hold of your
						seed words, they can steal your assets. We designed a simple solution that allows you to create a
						hardened backup of your seed words for cold storage. Importantly it had to be simple to use. Our backup
						system works with any wallet that uses BIP39 seed words. You can also use this method in addition to a
						cryptosteel or billfodl.`,
		},
		{
			question: 'I already use Cryptosteel or Billfodl - why do I need this?',
			answer: `This system was made to be a distributed, redundant offline backup. It works with all these physical backup solutions. You ideally want to have a few different locations where your crypto backup is stored in case of natural disasters or home invasion. We recommend using this system in addition to your existing backup methods. And if you are interested in setting up an automated Deadman Switch to pass on your cryptos to friends or family after you're gone, we will show you how to do that too.`,
		},
		{
			question: 'OK, whats the bottom line?',
			answer: `After you back up using this system, you don't have to worry about your seed words being stolen. You can store your backup in multiple locations, and even in the cloud if you choose. You can update your backup in the future without having to retrieve all the USB drives first. You can also set up a Deadman Switch to pass on your cryptos to friends or family after you're gone. And you can do all this for free. Finally, peace of mind. And... your future wealth is secure.`,
		},
		{
			question: "I'm still not sure. What if I mess up and someone hacks me?",
			answer: `The system is designed to be simple to use, and secure. Everything happens offline so as long as you're on a clean computer you have nothing to worry about. If you want to be ultra paranoid you can store your seedcodes by engraving them on a metal sheet or plate. If found, they reveal nothing without the corresponding seedmap, which is encrypted and not stored together with your seedcodes. If you are still unsure, you can always reach out to us for help. We are here to help you. Please note that we will never ask you for your seed words, or any other sensitive information. If someone does, it is a scam.`,
		},
		{
			question: "What is in the Free PDF that you haven't covered here?",
			answer: `Each step will be discussed in more detail with screenshots or other accomapying images. We will discuss an alternative cold storage method that might be suitable for some people. We will look at some common mistakes that people make when backing up their seed words and best practices for security. We will also show you how to set up a Deadman Switch using a Google account to pass on your cryptos (securely) to friends or family after you're gone. We&apos;ll show you how to set up a secure cloud backup of your seed words. And finally we will go over the recovery process should you need to restore your wallets from the backup.`,
		},
	],
];
---

<div id="faq-anchor"></div>
<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2
				id="faqs"
				class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading"
			>
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-1">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-orange-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
