---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			question: 'Do I really need 3 quotes; wont they be all the same price?',
			answer: `

Yes it is important. At least if you have 2-3 quotes, you can check the price differences, including the truck sizes and availablity for the date you require to move. These quotes are 100% completely free for yourself and we do not charge you any type of booking fee whatsoever. Your quote is sent directly to your mobile number and email in a format, giving you the prices, truck size required, day of move, distance and location Locally, Interstate or Regional.
.`,
		},
		{
			question: 'Is there a set rate for a removal job?',
			answer: `The only set rates for removals are generally an hourly rate. Often used by small man and van companies. Many factors can influence a move, these include access availability, distance moving as well as a persons contents of their home. Companies prefer to look at a move then the can be prepared for any problems like parking.`,
		},
		{
			question: "How do removal companies come up with quotation prices?",
			answer: `Moving the contents of your home is generally calculated by the size of the Truck required, including your moving distance.

Occasionally, if you’re moving Local, you can use a smaller truck and do a second load, depending on access of both properties, including timeframes of move required, however, that is something you’re accredited removalist would discuss with you prior to booking as you would have access to small medium and large trucks.

In comparison, Local moves are always usually an hourly rate. Removalists take into consideration, whether it is a 1, 2 or 3 men job including any heavy items, pool tables, double door fridges, flights of stairs, pianos, having to utilise a lift at properties and or stairways.
 Long distance moves will take into account usually more than 5 hours in travel, including interstate and can be on a fixed price quote pending access of the properties and items to be moved in full detail.`,
		},
	],
];
---
<div id="faq-anchor"></div>
<div class="px-4 py-16 mx-auto max-w-6xl lg:py-20">
	<div class="max-w-xl sm:mx-auto lg:max-w-2xl">
		<div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
			<h2 id="faqs" class="max-w-lg mb-4 text-3xl font-bold leading-none tracking-tight sm:text-4xl md:mx-auto font-heading">
				Frequently Asked Questions
			</h2>
		</div>
	</div>
	<div class="max-w-screen-xl sm:mx-auto">
		<div class="grid grid-cols-1 gap-x-8 gap-y-8 lg:gap-x-16 md:grid-cols-1">
			{
				items.map((subitems) => (
					<div class="space-y-8">
						{subitems.map(({ question, answer }) => (
							<div>
								<p class="mb-4 text-xl font-bold">
									<Icon name="tabler:arrow-down-right" class="w-7 h-7 text-orange-500 inline-block" />
									{question}
								</p>
								{answer.split('\n\n').map((paragraph) => (
									<p class="text-gray-700 dark:text-gray-400 mb-2" set:html={paragraph} />
								))}
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</div>
