---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: '1. Get the entire list of seed words',
			description: "There's 2048 possible words in the entire BIP39 list. You can download them online",
			icon: 'tabler:list-check',
		},
		{
			title: '2. Arrange them alphabetically',
			description: 'Open in a spreadsheet ordered from A to Z and assign them numbers from 1 to 2048',
			icon: 'tabler:list-check',
		},
		{
			title: '3. Randomize the numbers',
			description:
				'Create a random number mapping to the list of 2048 numbers. This is your seedmap, also known as a cipher',
			icon: 'tabler:list-check',
		},
		{
			title: '4. Map your seed words to the numbers',
			description:
				'Go through the seed phrase list one word at a time for each of your wallets and write down the corresponding number',
			icon: 'tabler:list-check',
		},
	],
	[
		{
			title: '5. Save these numbers as text on a USB',
			description: 'Create a text file or a PDF of all your wallet seed numbers and save it on a USB drive',
			icon: 'tabler:list-check',
		},
		{
			title: '6. Password protect your seedmap',
			description:
				'Create an encrypted password protected PDF file of your seedmap and save it on a separate USB drive',
			icon: 'tabler:list-check',
		},
		{
			title: '7. Save your password',
			description: 'Store your password across multiple locations. This is how you will decrypt your seedmap',
			icon: 'tabler:list-check',
		},
		{
			title: '8. Make copies of both USB drives',
			description:
				'Make multiple copies of both USB drives and store them in separate locations. You can update them as you add or change wallets',
			icon: 'tabler:list-check',
		},
	],
];
---

<div id="features-anchor"></div>
<section class="scroll-mt-16 bg-slate-100 mt-5" id="features">
	<div class="px-4 pt-4 pb-16 mx-auto max-w-6xl lg:px-8 lg:py-15 md:pb-10">
		<div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-3xl">
			<p class="text-base text-orange-500 dark:text-primary-200 font-semibold tracking-wide uppercase">
				HOW IT WORKS: TLDR
			</p>
			<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">60 Second Read</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				How to secure your future wealth:
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-2">
									<div class="flex items-center justify-center w-12 h-12 rounded-full bg-orange-500 dark:bg-orange-500">
										{icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold max-w-[96%]">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400  max-w-[92%]">{description}</p>
								</div>
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
