---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<section>
	<Picture
		src={import('~/assets/images/hero-image-3.png')}
		class="mx-auto pt-1"
		widths={[400, 768, 1000]}
		sizes="(max-width: 400px) 400px, (max-width: 768px) 768px, 1000px"
		alt="Hero Image"
		aspectRatio={1798 / 1041}
		loading="eager"
		width={1200}
		height={563}
		style="max-width:100%"
	/>
	<div class="max-w-6xl mx-auto px-2 sm:px-6">
		<div class="py-3 md:pt-5 pt-3">
			<div class="text-center pb-0 md:pb-0 max-w-5xl mx-auto">
				<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tighter tracking-tighter mb-3 font-heading">
					Hiding Your Wallet Seed Words?<br />
					<span class="underline">It's Not A Security Plan</span>
					<span class="sm:whitespace-nowrap"></span>
				</h1>
				<p class="text-xl max-w-[810px] w-[100%] mx-auto pt-2 pb-2 block px-2">
					Software and hardware wallet seedphrases have<br /><span class="bold">two major problems</span>.<br /><span
						class="pt-5 block"
						>If you don't back them up in multiple offline locations, you're vulnerable to <span class="bold">loss</span
						>. And if you do, you're open to <span class="bold">theft</span>. We've solved this. Our Hardened Cold
						Storage system is simple, secure and yours <span class="underline">100% free</span></span
					>
				</p>
				<!-- <div class="max-w-3xl mx-auto">
					<p class="text-xl text-orange-500 mb-8 dark:text-slate-100">
						<span class="font-semibold">Queensland based iSelect Movers</span> has many recommended removal teams in your
						local area <span class="inline sm:hidden">...</span><span class="hidden sm:inline"
							>ready to quote for you now!</span
						>
					</p>
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a class="btn btn-primary sm:mb-0 w-full" href="#iSelectMovers-Form" target="" rel="">
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Instant Moving Quote
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn w-full"
								href="#features">Contact Us</a
							>
						</div>
					</div>
				</div> -->
			</div>
			<!-- <div>
				<div class="relative m-auto max-w-4xl">
					<Picture
						src={import('~/assets/images/hero-iSelect.png')}
						class="mx-auto rounded-md w-full"
						widths={[400, 768, 1480]}
						sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
						alt="Hero Image"
						aspectRatio={1480/833}
						loading="eager"
						width={1480}
						height={833}
					/>
				</div>
			</div> -->
		</div>
	</div>
</section>
