---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<section>
	<Picture
		src={import('~/assets/images/hero-image-4.png')}
		class="mx-auto pt-2"
		widths={[400, 768, 1000]}
		sizes="(max-width: 400px) 400px, (max-width: 768px) 768px, 1000px"
		alt="Hero Image"
		aspectRatio={1635 / 1041}
		loading="eager"
		width={1200}
		height={563}
		style="max-width:98%"
	/>
	<div class="max-w-6xl mx-auto px-0 sm:px-6">
		<div class="py-3 md:pt-5 pt-3">
			<div class="text-left pb-0 md:pb-0 max-w-5xl mx-auto">
				<h1
					class="text-center text-3xl md:text-4xl lg:text-5xl sm:text-4xl font-bold leading-tighter tracking-tighter mb-5 font-heading relative top-0 text-gray-800"
				>
					Hiding Wallet SeedWords Is<br />
					<span class="text-4xl md:text-6xl sm:text-5xl relative top-2 underline">Not A Security Plan</span>
					<span class="sm:whitespace-nowrap"></span>
				</h1>
				<p class="text-center text-2xl max-w-[810px] w-[94%] pb-0 block px-2 lg:pt-4 pt-2">
					<div class="text-xl text-center pb-2 w-[94%] mx-auto">
						Software & Hardware wallet seedphrase storage has <span class="bold">problems</span>:<br />
					</div>
					<!-- <div
						class="text-xl text-center py-2 bg-gray-100 border-2 border-dashed border-gray-300 t mb-4 xl:max-w-[850px] lg:max-w-[700px] max-w-[680px] mx-auto rounded-xl w-[94%] px-2"
					>
						If not backed up in multiple offline locations, you're vulnerable to <span class="bold underline">loss</span
						>.<br />And if it is, you're open to <span class="bold underline">theft</span>.
					</div> -->
					<div
						class="text-xl text-center py-2 bg-gray-100 border-2 border-dashed border-gray-300 t mb-4 xl:max-w-[700px] lg:max-w-[700px] max-w-[680px] mx-auto rounded-xl w-[94%] px-2"
					>
						With 1 wallet seedphrase backup you're at risk of <span class="bold">loss</span>.<br
							class="md:inline-block hidden"
						/>
						With multiple copies you're exposed to <span class="bold">theft</span>.
					</div>
					<div class="text-lg text-center pt-0">
						<span class="text-xl bold text-orange-500 block">Problem Solved. Find Out How.</span>
						<a href="https://freecrypto.tools/" target="_blank">
							<button
								class="btn bg-[#1ea1d9] text-white border-2 border-white mt-2 shadow-xl hover:bg-orange-500 hover:border-white p-4 uppercase"
								>Download your <span class="bold">&nbsp;FREE PDF</span></button
							></a
						>
						<span class="pt-5 block">or follow the steps below</span>
					</div>
				</p>
			</div>
		</div>
	</div>
</section>
