---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<section>
	<Picture
		src={import('~/assets/images/hero-image-3.webp')}
		class="mx-auto pt-2"
		widths={[400, 768, 1000]}
		sizes="(max-width: 400px) 400px, (max-width: 768px) 768px, 1000px"
		alt="Hero Image"
		aspectRatio={1874 / 1057}
		loading="eager"
		width={1200}
		height={563}
		style="max-width:99%"
	/>
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-3 md:pt-10 pt-5">
			<div class="text-center pb-0 md:pb-0 max-w-5xl mx-auto">
				<h1 class="text-3xl md:text-4xl lg:text-5xl font-bold leading-tighter tracking-tighter mb-5 font-heading">
					Hiding Your Wallet Seed Words Is<br />
					<span class="underline">Not A Security Plan</span>
					<span class="sm:whitespace-nowrap"></span>
				</h1>
				<p class="text-xl max-w-[810px] w-[90%] mx-auto pt-3 pb-10">
					No matter if you use a software or hardware wallet, Crypto Self-Custody has a couple of <span
						class="underline">major problems</span
					>. If you don't back up your seed phrases, you're vulnerable to loss. And if you do, you're vulnerable to
					theft. We solved this thorny issue with simplicity and security in mind... and now we're making the system <span
						class="underline">100% free</span
					> to you.
				</p>
				<!-- <div class="max-w-3xl mx-auto">
					<p class="text-xl text-orange-500 mb-8 dark:text-slate-100">
						<span class="font-semibold">Queensland based iSelect Movers</span> has many recommended removal teams in your
						local area <span class="inline sm:hidden">...</span><span class="hidden sm:inline"
							>ready to quote for you now!</span
						>
					</p>
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<div class="flex w-full sm:w-auto">
							<a class="btn btn-primary sm:mb-0 w-full" href="#iSelectMovers-Form" target="" rel="">
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Instant Moving Quote
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a
								class="btn w-full"
								href="#features">Contact Us</a
							>
						</div>
					</div>
				</div> -->
			</div>
			<!-- <div>
				<div class="relative m-auto max-w-4xl">
					<Picture
						src={import('~/assets/images/hero-iSelect.png')}
						class="mx-auto rounded-md w-full"
						widths={[400, 768, 1480]}
						sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
						alt="Hero Image"
						aspectRatio={1480/833}
						loading="eager"
						width={1480}
						height={833}
					/>
				</div>
			</div> -->
		</div>
	</div>
</section>
