<section class="bg-white dark:bg-gray-900 border-t border-b border-gray-300 p-5">
	<div class="py-8 lg:pt-16 lg:pb-0 mx-auto max-w-screen-xl px-4">
		<h2
			class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-gray-900 dark:text-white md:text-4xl"
		>
			Compatible With Your Favourite Wallets
		</h2>
		<div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 md:grid-cols-3 lg:grid-cols-6 dark:text-gray-400">
			<a href="https://www.ledger.com/" class="flex justify-center items-center" target="_blank" rel="nofollow">
				<img src="./logo-ledger.png" alt="Ledger Wallets" title="Ledger Wallets" class="max-w-[130px]" />
			</a>
			<a href="https://www.trezor.io/" class="flex justify-center items-center" target="_blank" rel="nofollow">
				<img src="./trezor.png" alt="Trezor Wallets" title="Ledger Wallets" class="max-w-[120px]" />
			</a>
			<a href="https://trustwallet.com/" class="flex justify-center items-center" target="_blank" rel="nofollow">
				<img src="./trustwallet.webp" alt="Trust Wallet" title="Trust Wallet" class="max-w-[150px]" />
			</a>
			<a href="https://metamask.io/" class="flex justify-center items-center" target="_blank" rel="nofollow">
				<img src="./metamask.jpg" alt="MetaMask Wallet" title="MetaMask Wallet" class="max-w-[190px]" />
			</a>

			<a
				href="https://electrum.org/"
				class="flex justify-center items-center"
				title="Electrum Wallet"
				target="_blank"
				rel="nofollow"
			>
				<svg width="100px" height="70px" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"
					><defs
						><style>
							.a {
								fill: none;
								stroke: #000000;
								stroke-linecap: round;
								stroke-linejoin: round;
							}
						</style></defs
					><ellipse class="a" cx="24" cy="24" rx="19.5" ry="9.5"></ellipse><ellipse
						class="a"
						cx="24"
						cy="24"
						rx="19.5"
						ry="9.5"
						transform="translate(-8.6041 33.4327) rotate(-61.1356)"></ellipse><path
						class="a"
						d="M25.3688,24a2.2147,2.2147,0,0,1,0,4.4294H21.7146V19.5706h3.6542a2.2147,2.2147,0,0,1,0,4.4294Z"
					></path><line class="a" x1="25.3688" y1="24" x2="21.7146" y2="24"></line><line
						class="a"
						x1="21.7146"
						y1="19.5706"
						x2="20.4165"
						y2="19.5706"></line><line class="a" x1="21.7146" y1="28.4294" x2="20.4165" y2="28.4294"></line><line
						class="a"
						x1="22.8412"
						y1="19.5706"
						x2="22.8412"
						y2="18"></line><line class="a" x1="24.649" y1="19.5706" x2="24.649" y2="18"></line><line
						class="a"
						x1="22.8412"
						y1="30"
						x2="22.8412"
						y2="28.4294"></line><line class="a" x1="24.649" y1="30" x2="24.649" y2="28.4294"></line><ellipse
						class="a"
						cx="24"
						cy="24"
						rx="9.5"
						ry="19.5"
						transform="translate(-8.6041 14.5673) rotate(-28.8644)"></ellipse></svg
				>
			</a>
			<a href="https://www.exodus.com/" class="flex justify-center items-center" target="_blank" rel="nofollow">
				<img src="./exodus.png" alt="Exodus Wallet" title="Exodus Wallet" class="max-w-[160px]" />
			</a>
		</div>
		<h5 class="m-14 lg:mb-16 text-xl tracking-tight leading-tight text-center text-gray-500 md:text-xl">
			Backup any wallet that's BIP39 compliant (12, 18, 24 or 25 seeds)
		</h5>
	</div>
</section>
