---
import { Icon } from 'astro-icon';
---

<section class="bg-orange-500 dark:bg-slate-800 mt-0">
	<div class="max-w-6xl mx-auto px-0 sm:px-6 py-6 text-md text-center font-medium">
		<a href="https://freecrypto.tools/" target="_blank">
			<button
				class="btn bg-[#1ea1d9] text-white border-2 border-white mt-2 shadow-xl hover:bg-orange-500 hover:border-white p-4 uppercase"
				><Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" />Download your <span class="bold"
					>&nbsp;FREE PDF</span
				></button
			></a
		><br /><br />

		<span class="font-bold text-white text-xl pt-6 px-3"
			><span class="underline text-2xl">Special Bonus:</span><br /><br />Turn your Google account into your own personal
			Deadman Switch <br /><br />Pass It On After You're Gone</span
		>
	</div>
</section>
