@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply inline-flex items-center justify-center rounded-md shadow-md border-gray-400 border bg-transparent font-medium text-center text-base text-gray-700 leading-snug transition py-3 px-6 md:px-8 ease-in duration-200 focus:ring-blue-500 focus:ring-offset-blue-200 focus:ring-2 focus:ring-offset-2 hover:bg-gray-100 hover:border-gray-600 dark:text-slate-300 dark:border-slate-500 dark:hover:bg-slate-800 dark:hover:border-slate-800;
	}

	.btn-ghost {
		@apply border-none shadow-none text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white;
	}

	.btn-primary {
		@apply font-semibold bg-orange-600 text-white border-orange-600 hover:bg-orange-800 hover:border-orange-800 hover:text-white dark:text-white dark:bg-orange-700 dark:border-orange-700 dark:hover:border-orange-900 dark:hover:bg-orange-900;
	}
}

.dropdown:hover .dropdown-menu {
  display: block;
}


[astro-icon].icon-light > * {
	stroke-width: 1.2;
}

[data-aw-toggle-menu] path {
	@apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
	@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
	@apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* additional styles */



#iSelectMovers-Form {
	position: relative;
	top:-135px;
	height: 560px;
}

#iSelectMovers-Form .form-bgnd {
	/* background-color: rgba(255,255,255,0.7); */
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 15%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}
@media only screen and (min-width: 1426px) {
	#iSelectMovers-Form {
		position: relative;
		top:-135px;
		height: 760px;
	}
	#iSelectMovers-Form .form-bgnd {
		/* background-color: rgba(255,255,255,0.7); */
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}
  }
#iSelectMovers-Form form {
	max-width:550px;
	
	margin: auto;
}

#iSelectMovers-Form  .fieldwidth {
	max-width: 400px!important;
}

#iSelectMovers-Form form input[type="radio"]::before {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em orange;
  }
  #iSelectMovers-Form form input[type="radio"]:checked::before {
	transform: scale(1);
  }

#iSelectMovers-Form form input[type="radio"] {
	
	width: 50px;
	height: 50px;
	accent-color: rgb(242, 132, 7);
	appearance: none;
	margin: 0;
	color: rgb(242, 132, 7);
	width: 1.35em;
	height: 1.35em;
	border: 0.15em solid orange;
	border-radius: 50%;
	/* background-color: #fff; */
	display: grid;
  place-content: center;

}

#iSelectMovers-Form form input[type="radio"]:focus {
	box-shadow: none;
	outline:none;
}

.hide {
	display:none;
}

.show {
	display:block;
}

.bold {
	font-weight: 600;
}

#submit-message {
	padding-top: 10px;
	color:rgb(3, 162, 3);
	padding-bottom: 0px;
}

#iSelectMovers-Form .formheader {
	font-size: 2rem;
	padding-top: 12px;
}

@media only screen and (max-width: 350px) {
	#iSelectMovers-Form .formheader {
		font-size: 1.5rem;
		padding-top: 35px;
	}
	#iSelectMovers-Form .form-bgnd {
		/* background-color: rgba(255,255,255,0.7); */
		background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 22%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 22%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 22%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	}

}

#success-anchor, #faq-anchor, #quote-anchor, #features-anchor, #process-anchor  {
	display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}



html { font-size: calc(1rem + 0.41666666666666663vw); }
         @media screen and (max-width:1920px) { html { font-size: calc(1rem + 0.41666666666666674vw); } }
         @media screen and (max-width:1440px) { html { font-size: calc(0.8126951092611863rem + 0.20811654526534862vw); } }
         @media screen and (max-width:479px) { html { font-size: calc(0.7494769874476988rem + 0.8368200836820083vw); } }

